.git
.github

.cluster
.peerdisc
report_evidence
report_evidence.zip

*.exe
*.test
*.out
*.log

toychain.exe

*.wallet.json
tx.json
orphan.json
nodeA.json
nodeB.json
node1.json
node2.json
node3.json
node4.json

Dockerfile
docker-compose.override.yml

README_updated_*.md
research_report_updated_*.md